@font-face {
    font-family: 'Noto Sans SC';
    src:
        url('https://static.cytelab.net/font/NotoSansSC-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans SC';
    src:
        url('https://static.cytelab.net/font/NotoSansSC-Regular.woff2') format('woff2');
    ;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans SC';
    src:
        url('https://static.cytelab.net/font/NotoSansSC-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "Oxygen", sans-serif;
    src:
        url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Oxygen", sans-serif;
    src:
        url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oxygen", sans-serif;
    src:
        url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
    font-weight: 700;
    font-style: normal;
}