body {
  background-color: #010000;
}

.bg {
  background-color: #bada28;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.block {
  height: 800px;
  width: 200px;
  background-color: #23cbd7;
  margin: 20px;
  border-radius: 16px;
}

.sideBlock {
  height: 728px;
  width: 200px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: antiquewhite;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.mainBlock {
  width: 960px;
  height: 800px;
  // background: var(--Elevations-Layer_3, #262626);
  // background: var(--Elevations-Layer_3, color(display-p3 0.15 0.15 0.15));
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: aquamarine;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  /* Pop-up */
  box-shadow: 0px 24px 48px 1px rgba(0, 0, 0, 0.48), 1px 4px 12px 1px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 24px 48px 1px color(display-p3 0 0 0 / 0.48), 1px 4px 12px 1px color(display-p3 0 0 0 / 0.36);
}

.windowSide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  /* Pop-up */
  box-shadow: 0px 24px 48px 1px rgba(0, 0, 0, 0.48), 1px 4px 12px 1px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 24px 48px 1px color(display-p3 0 0 0 / 0.48), 1px 4px 12px 1px color(display-p3 0 0 0 / 0.36);
}

.windowMain {
  width: 960px;
  height: 800px;
  // background: var(--Elevations-Layer_3, #262626);
  // background: var(--Elevations-Layer_3, color(display-p3 0.15 0.15 0.15));
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.topBar {
  width: 100%;
  background-color: #ff7e7e;
  // 让子元素考最右边布局
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 16px;
}

.closeBox {
  width: var(--Numbers-20, 20px);
  height: var(--Numbers-20, 20px);
  flex-shrink: 0;
  margin-top: 20px;
  margin-right: 20px;
}